Options +FollowSymLinks -MultiViews
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

# remove /public/ from URL
RewriteCond %{REQUEST_URI} !/public/ [NC]

RewriteRule ^(.*?)/?$ public/$1 [L,QSA]
